{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% trans 'Your username is' %} <b>{{ request.user.username }}</b>.

    {% else %}

        {% trans 'You are a guest.' %}

    {% endif %}
    <br>
    <a href="http://127.0.0.1:8000/teamsrch">checkout teams</a>
    <br>
    <a href="http://127.0.0.1:8000/events">checkout events</a>
    <br>
    <a href="http://127.0.0.1:8000/hack_submit">Add a new hackathon</a>
    <br>
    <a href="http://127.0.0.1:8000/es_submit">List a e-summit</a>
    <br>
    <a href="http://127.0.0.1:8000/fest_submit">List a new fest</a>
    <br>
    <a href="http://127.0.0.1:8000/hack_submit">Add a new hackathon</a>
    <br>
    <a href="http://127.0.0.1:8000/addteamreq">Submit a new team</a>
    <br>
    <a href="http://127.0.0.1:8000/match">Match and connect with other developers</a>
    <br>
    <a href="http://127.0.0.1:8000/myteamrequests">Checkout my team requests</a>
    <br>


<br><br><br><br>
Accont management 
<br>
<a href="http://127.0.0.1:8000/accounts/change/password/">Change account password</a>

    <br>
    <a href="http://127.0.0.1:8000/accounts/change/profile/">Update profile details</a>

    <br>
    <a href="http://127.0.0.1:8000/accounts/change/email/">Update email address</a>

    <br>
    <a href="http://127.0.0.1:8000/accounts/log-out/">Logout</a>

    <br>




{% endblock %}

